<div class="row">
  <div class="col-md-4">
    <nb-card size="medium">
      <nb-card-body>
        <div class="row">
          <div class="col-md-6">
            <span class="h4 location">On-boarding</span>
          </div>
          <div class="col-md-6">
            <button nbButton status="danger" hero>Overdue</button>
          </div>
        </div>

        <div class="project-details">
          <h6 class="project-details-caption">Deadline:</h6>
          <span class="date">Mon 29 May</span>
        </div>

        <div class="project-details">
          <h6 class="project-details-caption">Description:</h6>
          <span class="date"
            >Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s</span
          >
        </div>

        <div class="project-details">
          <h6 class="project-details-caption">Members:</h6>
          <nb-list>
            <nb-list-item>
              <nb-user name="c.user.name"></nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user name="c.user.name"></nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user name="c.user.name"></nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user name="c.user.name"></nb-user>
            </nb-list-item>
          </nb-list>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card size="medium">
      <nb-card-body>
        <div class="row">
          <div class="col-md-6">
            <span class="h4 location">Learner Dashboard</span>
          </div>
          <div class="col-md-6">
            <button nbButton status="primary" hero>On Going</button>
          </div>
        </div>

        <div class="project-details">
          <h6 class="project-details-caption">Deadline:</h6>
          <span class="date">Mon 29 May</span>
        </div>

        <div class="project-details">
          <h6 class="project-details-caption">Description:</h6>
          <span class="date"
            >Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s</span
          >
        </div>

        <div class="project-details">
          <h6 class="project-details-caption">Members:</h6>
          <nb-list>
            <nb-list-item>
              <nb-user name="c.user.name"></nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user name="c.user.name"></nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user name="c.user.name"></nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user name="c.user.name"></nb-user>
            </nb-list-item>
          </nb-list>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card size="medium">
      <nb-card-body>
        <div class="row">
          <div class="col-md-6">
            <span class="h4 location">GSoC</span>
          </div>
          <div class="col-md-6">
            <button nbButton status="danger" hero>Overdue</button>
          </div>
        </div>

        <div class="project-details">
          <h6 class="project-details-caption">Deadline:</h6>
          <span class="date">Mon 29 May</span>
        </div>

        <div class="project-details">
          <h6 class="project-details-caption">Description:</h6>
          <span class="date"
            >Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s</span
          >
        </div>

        <div class="project-details">
          <h6 class="project-details-caption">Members:</h6>
          <nb-list>
            <nb-list-item>
              <nb-user name="c.user.name"></nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user name="c.user.name"></nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user name="c.user.name"></nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user name="c.user.name"></nb-user>
            </nb-list-item>
          </nb-list>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card size="medium">
      <nb-card-body>
        <div class="row">
          <div class="col-md-6">
            <span class="h4 location">Contributor Dashboard</span>
          </div>
          <div class="col-md-6">
            <button nbButton status="success" hero>Completed</button>
          </div>
        </div>

        <div class="project-details">
          <h6 class="project-details-caption">Deadline:</h6>
          <span class="date">Mon 29 May</span>
        </div>

        <div class="project-details">
          <h6 class="project-details-caption">Description:</h6>
          <span class="date"
            >Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s</span
          >
        </div>

        <div class="project-details">
          <h6 class="project-details-caption">Members:</h6>
          <nb-list>
            <nb-list-item>
              <nb-user name="c.user.name"></nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user name="c.user.name"></nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user name="c.user.name"></nb-user>
            </nb-list-item>
            <nb-list-item>
              <nb-user name="c.user.name"></nb-user>
            </nb-list-item>
          </nb-list>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
